<h1><%= @task.name %> <%=@task.title %></h1>
<h3><%= @task.detail %></h3>
<%= link_to 'delete', task_path(@task), method: :delete, data: { confirm: "Are you sure?" }  %>
<%= link_to 'update', edit_task_path %>
<%= link_to 'back', task_path %>
